{% extends "healthy_hunger/base.html" %}
{% load static %}
{% block meta %}<meta name="viewport" content="width=device-width, initial-scale=1.0">{% endblock meta %}
{% block link1 %} <link rel="stylesheet" href={% static "healthy_hunger/css/bootstrap.min.css" %}> {% endblock link1 %}
{% block link2 %} <link rel="stylesheet" href={% static "healthy_hunger/css/custom.css" %}> {% endblock link2 %}
{% block title %} Home {% endblock %}
{% block content %}
<div class="container-sm">
    <div class="image-container">
        <div class="headline_text">
            <p class="headline">Are you hungry?</p>
        </div>
        <div class="headline_subtitle">
            <p class="subtitle">Order your favourite dishes in a few clicks!</p>
        </div>
        <form method="POST">
            <div class="white-box">
                {% csrf_token %}
                <input class="form-control mr-5" style="width: 450;" type="text" name="name" placeholder="What are you craving for today?">
                <button type="submit" style="padding: 15px 60px; background-color: #F4CF09; color: #fff; border: none; cursor: pointer; border-radius: 10px; font-size:100%">Find Food</button>
            </div>
        </form>
        <img src={% static "healthy_hunger/img/background.jpg" %} alt="Background Image" style="width: 100%; height: 900; object-fit:contain;;
        ">
    </div>
</div>
<div class="container">
    <br>
    <h1>Popular Items</h1>
    <div class="row mt-5">
        {% for product in products %}
        <div class="column">
            <a href="product/{{product.id}}/">
            <img src={{ product.product_image.url }} alt="Spicy Burger" style="width:100%">
            <p class="mt-1">{{ product.name }}</p>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
<br>

<div class="map_container">
    <h1 class="row mt-5">Find The Nearest Restaurant</h1>
    <div class="mt-5" id="map_iframe">
        <iframe src="https://maps.google.com/maps?q=28.2477,76.8136&amp;?ie=UTF8&amp;iwloc=B&amp;output=embed" width="90%" height="600" style="border:0;" loading="lazy"></iframe>
    </div>
</div>


{% endblock %}