{% extends "healthy_hunger/base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block meta %}<meta name="viewport" content="width=device-width, initial-scale=1.0">{% endblock meta %}
{% block link1 %} <link rel="stylesheet" href={% static "healthy_hunger/css/bootstrap.min.css" %}> {% endblock link1 %}
{% block link2 %} <link rel="stylesheet" href={% static "healthy_hunger/css/custom.css" %}> {% endblock link2 %}
{% block title %} Login {% endblock %}
{% block content %}
<div class="h-100 d-flex align-items-center justify-content-center mt-4">
    <div class="rounded-black-box-login">
        <form action="", method="POST" class="form-group vertical-center">
            {% csrf_token %}
            <div class="mb-2">
            <label for="username"><b>Username</b></label>
            {% render_field form.username placeholder="nickos321" class="form-control"  %}
            </div>
            <div class="mb-2">
            <label for="password" ><b>Password</b></label>
            {% render_field form.password placeholder="Nickos@2389" type="password" class="form-control" %}
            </div>
            <div class="vertical-center"> 
            <input type="submit" class="btn btn-primary" style="width:100%" value="Submit">
            </div>
          </form>
          <p>No Account? <a href="/register/">Register Here</a></p>
        </div>
  </div>

  

{% endblock %}